<% form_for(form_object) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :totalRejected %><br />
    <%= f.text_field :totalRejected %>
  </p>
  <p>
    <%= f.label :session %><br />
    <%= f.collection_select :session_id, Session.all, :id, :id, {:disabled => lambda{|session| session != @rejection.session }} %>
  </p>
  <p>
    <%= f.label :problem %><br />
    <%= f.collection_select :problem_id, Problem.all, :id, :name %>
  </p>
  <p>
    <%= f.submit t('send') %>
  </p>
<% end %>

