<% form_for(form_object) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number_of_rejected_packages %><br />
    <%= f.text_field :number_of_rejected_packages %>
  </p>
  <p>
    <%= f.label :session, Session.human_name %><br />
    <%= f.collection_select :session_id, Session.all, :id, :id, {:disabled => lambda{|session| session != @rejection.session }} %>
  </p>
  <p>
    <%= f.label :problem, Problem.human_name %><br />
    <%= f.collection_select :problem_id, Problem.all, :id, :name %>
  </p>
  <p>
    <%= f.submit t('send') %> |
    <%= link_to t('cancel'), link_to_cancel_options %>
  </p>
<% end %>

