<h1>Editing rejection</h1>

<% form_for(@rejection) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :totalRejected %><br />
    <%= f.text_field :totalRejected %>
  </p>
  <p>
    <%= f.label :session %><br />
    <%= text_field_tag 'session', @rejection.session.start, :disabled => true %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rejection %> |
<%= link_to 'Back', rejections_path %>
