<h1>New rejection</h1>

<% form_for(@rejection) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :totalRejected %><br />
    <%= f.text_field :totalRejected %>
  </p>
  <p>
    <%= f.label :session %><br />
    <%= f.text_field :session %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rejections_path %>