<h1>New rejection</h1>

<% form_for([@session, @rejection]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :totalRejected %><br />
    <%= f.text_field :totalRejected %>
  </p>
  <p>
    <%= f.label :session %><br />
    <%= text_field_tag "Session", @session.start, :disabled => true %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', session_rejections_path(@session) %>
