<p>
  <b>Totalrejected:</b>
  <%=h @rejection.totalRejected %>
</p>

<p>
  <b>Session:</b>
  <%=h @rejection.session.start %>
</p>


<%= link_to 'Edit', edit_rejection_path(@rejection) %> |
<%= link_to 'Session Rejections', session_rejections_path(@rejection.session) %> |
<%= link_to 'All Rejections', rejections_path %>
