<% form_for(form_object) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.time_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.time_select :end %>
  </p>
  <p>
    <%= f.label :machine, Machine.human_name %><br />
    <%= f.collection_select :machine_id, Machine.all, :id, :code, {:disabled => lambda{|machine| machine != @session.machine }} %>
  </p>
  <p>
    <%= f.submit t('send') %>
  </p>
<% end %>
