<% form_for(form_object) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.time_select :start %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.time_select :duration_select, :default => '0' %>
  </p>
  <p>
    <%= f.label :number_of_packages %><br />
    <%= f.select :number_of_packages, (1..@session.machine.number_of_heads).to_a %>
  </p>
  <p>
    <%= f.label :machine, Machine.human_name %><br />
    <%= f.collection_select :machine_id, Machine.all, :id, :code, {:disabled => lambda{|machine| machine != @session.machine }} %>
  </p>
  <p>
    <%= f.label :product, Product.human_name %><br />
    <%= f.collection_select :product_id, Product.all, :id, :name %>
  </p>
  <p>
    <%= f.label :operator, Operator.human_name %><br />
    <%= f.collection_select :operator_id, Operator.all, :id, :name %>
  </p>
  <p>
    <%= f.submit t('send') %> |
    <%= link_to t('cancel'), link_to_cancel_options %>
  </p>
<% end %>
