<% form_for(form_object) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.label :machine %><br />
    <%= f.hidden_field :machine_id %>
    <%= text_field_tag "machine_code", @session.machine.code, :disabled => true %>
  </p>
  <p>
    <%= f.submit t('send') %>
  </p>
<% end %>
