
<table>
  <tr>
    <th><%=h Session.human_attribute_name(:id) %></th>
    <th><%=h Session.human_attribute_name(:start) %></th>
    <th><%=h Session.human_attribute_name(:end) %></th>
    <th><%=h Machine.human_name %></th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%=h session.id %></td>
    <td><%=h l session.start, :format => :short %></td>
    <td><%=h l session.end, :format => :short %></td>
    <td><%= link_to session.machine.code, session.machine %></td>
    <td><%= link_to t('show'), session %></td>
    <td><%= link_to t('delete'), session, :confirm => t('confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

