<h1>Listing sessions<% if @machine %> for machine <%= link_to @machine.code, @machine %><% end %></h1>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Machine</th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%=h session.start %></td>
    <td><%=h session.end %></td>
    <td><%= link_to session.machine.code, session.machine %></td>
    <td><%= link_to 'Show', session %></td>
    <td><%= link_to 'Edit', edit_session_path(session) %></td>
    <td><%= link_to 'Destroy', session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% unless @sessions.empty? %>
  <% if @machine %>
    <p>
      <%= link_to('Excel Format', machine_sessions_path(@machine, :format => :xls)) %>
    </p>
  <% else %>
    <p>
      <%= link_to('Excel Format', sessions_path(:format => :xls)) %>
    </p>
  <% end %>
<% end %>

<% if @machine %>
  <%= link_to 'New session', new_machine_session_path(@machine) %> |
  <%= link_to 'All Sessions', sessions_path %>
<% end %>

