<%= link_to t('edit'), edit_session_path(@session) %> |
<%= link_to t('delete'), session, :confirm => t('confirm'), :method => :delete %>

<p>
  <b><%=h Session.human_attribute_name(:start) %>:</b>
  <%=h @session.start %>
</p>

<p>
  <b><%=h Session.human_attribute_name(:end) %>:</b>
  <%=h @session.end %>
</p>

<p>
  <b><%=h Session.human_attribute_name(:duration) %>:</b>
  <%=h @session.duration.seconds_to_long_words %>
</p>

<p>
  <b><%=h Machine.human_name %>:</b>
  <%=h @session.machine.code %>
</p>

<p>
  <b><%=h Product.human_name %>:</b>
  <%=h @session.product.name %>
</p>

<p>
  <%= link_to t('.rejections'), session_rejections_path(@session) %>
</p>

<%= link_to t('machines.show.sessions'), machine_sessions_path(@session.machine) %> |
<%= link_to t('sessions.index.all'), sessions_path %>
