<p>
  <b>Start:</b>
  <%=h @session.start %>
</p>

<p>
  <b>End:</b>
  <%=h @session.end %>
</p>

<p>
  <b>Machine:</b>
  <%=h @session.machine.code %>
</p>

<p>
  <%= link_to 'Rejections', session_rejections_path(@session) %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Machine Sessions', machine_sessions_path(@session.machine) %> |
<%= link_to 'All Sessions', sessions_path %>
