<h1><%= t('sessions.index.header') %> (<%= Machine.human_name %>: <%= link_to @machine.id, @machine %>)</h1>

<%= render :partial => "/sessions/list" %>
<%= link_to t('sessions.index.new'), new_machine_session_path(@machine) %>

<% unless @sessions.empty? %>
<p>
  <%= link_to t('excel_format'), machine_sessions_path(@machine, :format => :xls) %>
</p>
<% end %>

<p>
  <%= link_to t('back'), @machine %> |
  <%= link_to t('sessions.index.all'), sessions_path %>
</p>

