<h1><%= t('rejections.index.header') %> (<%= Session.human_name %>: <%= link_to @session.id, @session %>)</h1>

<%= render :partial => "/rejections/list" %>
<%= link_to t('rejections.index.new'), new_session_rejection_path(@session) %>

<% unless @rejections.empty? %>
<p>
  <%= link_to t('excel_format'), session_rejections_path(@session, :format => :xls) %>
</p>
<% end %>

<p>
  <%= link_to t('back'), @session %> |
  <%= link_to t('rejections.index.all'), rejections_path %>
</p>
