<h1>Listing rejections for session <%= link_to @session.start, @session %></h1>

<table>
  <tr>
    <th>Totalrejected</th>
    <th>Session</th>
    <th>Problem</th>
  </tr>

<% @rejections.each do |rejection| %>
  <tr>
    <td><%=h rejection.totalRejected %></td>
    <td><%= link_to rejection.session.start, rejection.session %></td>
    <td><%= link_to rejection.problem.name, rejection.problem %></td>
    <td><%= link_to 'Destroy', session_rejection_path(@session, rejection), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rejection', new_session_rejection_path(@session) %> |
<%= link_to 'Back', @session %> |
<%= link_to 'All Rejections', rejections_path %>
