<h1><%= t('rejections.index.header') %> (<%= Problem.human_name %>: <%= link_to @problem.name, @problem %>)</h1>

<%= render :partial => 'rejections/list' %>

<% unless @rejections.empty? %>
<p>
  <%= link_to t('excel_format'), problem_rejections_path(@problem, :format => :xls) %>
</p>
<% end %>

<%= link_to t('back'), @problem %> |
<%= link_to t('rejections.index.all'), rejections_path %>
