<h1><%= t('sessions.index.header') %> (<%= Operator.human_name %>: <%= link_to @operator.id, @operator %>)</h1>

<%= render :partial => "/sessions/list" %>

<hr />

<p>
  <%= link_to t('back'), @operator %> |
  <%= link_to t('sessions.index.all'), sessions_path %> |
  <%= link_to_unless @sessions.empty?, t('excel_format'), operator_sessions_path(@operator, :format => :xls) %>
</p>

