<% form_for(form_object) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  
  <p>
    <%= f.label :number_of_heads %><br />
    <%= f.select :number_of_heads, (1..16).to_a %>
  </p>

  <p>
    <%= f.label :standard_number_of_packages_per_second %><br />
    <%= f.text_field :standard_number_of_packages_per_second %>
  </p>
  
  <p>
    <%= f.label :avaiable_seconds_per_day %><br />
    <%= f.time_select :available_time_select, :minute_step => 15, :default => '0' %>
  </p>
  
  <p>
    <%= f.submit t('send') %> |
    <%= link_to t('cancel'), link_to_cancel_options %>
  </p>
<% end %>
