<% form_for(form_object) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  
  <p>
    <%= f.label :totalHeaders %><br />
    <%= f.text_field :totalHeaders %>
  </p>

  <p>
    <%= f.label :standard_speed %><br />
    <%= f.text_field :standard_speed %> unidades por segundo
  </p>
  
  <p>
    <%= f.label :availableTime %><br />
    <%= f.time_select :available_time_select, :minute_step => 15, :default => '0' %>
  </p>
  
  <p>
    <%= f.submit t('send') %>
  </p>
<% end %>
