
<table>
  <tr>
    <th><%=h Machine.human_attribute_name(:id) %></th>
    <th><%=h Machine.human_attribute_name(:code) %></th>
    <th><%=h Machine.human_attribute_name(:totalHeaders) %></th>
    <th><%=h Machine.human_attribute_name(:availableTime) %></th>
    <th><%=h Machine.human_attribute_name(:total_session_time) %></th>
    <th><%=h Machine.human_attribute_name(:average_session_time) %></th>
  </tr>

<% @machines.each do |machine| %>
  <tr>
    <td><%=h machine.id %></td>
    <td><%=h machine.code %></td>
    <td><%=h machine.totalHeaders %></td>
    <td><%=h DistanceInWords.from_seconds machine.availableTime %></td>
    <td><%=h DistanceInWords.from_seconds machine.total_session_time %></td>
    <td><%=h DistanceInWords.from_seconds machine.average_session_time %></td>
    <td><%= link_to t('show'), machine %></td>
    <td><%= link_to t('delete'), machine, :confirm => t('confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

