<%= link_to t('edit'), edit_machine_path(@machine) %> |
<%= link_to t('delete'), @machine, :confirm => t('confirm'), :method => :delete %>

<p>
  <b><%=h Machine.human_attribute_name(:code) %>:</b>
  <%=h @machine.code %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:availableTime) %>:</b>
  <%=h @machine.availableTime %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:totalHeaders) %>:</b>
  <%=h @machine.totalHeaders %>
</p>

<p>
  <%= link_to t('.sessions'), machine_sessions_path(@machine) %>
</p>

<%= link_to t('machines.index.all'), machines_path %>

