<%= link_to t('edit'), edit_machine_path(@machine) %> |
<%= link_to t('delete'), @machine, :confirm => t('confirm'), :method => :delete %>

<p>
  <b><%=h Machine.human_attribute_name(:code) %>:</b>
  <%=h @machine.code %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:totalHeaders) %>:</b>
  <%=h @machine.totalHeaders %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:speed) %>:</b>
  <%=h @machine.speed %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:availableTime) %>:</b>
  <%=h DistanceInWords.from_seconds @machine.availableTime %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:total_session_time) %>:</b>
  <%=h DistanceInWords.from_seconds @machine.total_session_time %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:average_session_time) %>:</b>
  <%=h DistanceInWords.from_seconds @machine.average_session_time %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:average_work_time_per_day) %>:</b>
  <%=h DistanceInWords.from_seconds @machine.average_work_time_per_day %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:utilization_percent_per_day) %>:</b>
  <%=h @machine.utilization_percent_per_day %>
</p>

<p>
  <%= link_to t('.sessions'), machine_sessions_path(@machine) %>
</p>

<%= link_to t('machines.index.all'), machines_path %>

