<%= link_to t('edit'), edit_machine_path(@machine) %> |
<%= link_to t('delete'), @machine, :confirm => t('confirm'), :method => :delete %>

<p>
  <b><%=h Machine.human_attribute_name(:code) %>:</b>
  <%=h @machine.code %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:number_of_heads) %>:</b>
  <%=h @machine.number_of_heads %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:standard_speed) %>:</b>
  <%=h @machine.standard_speed %> pacotes por segundo
</p>

<p>
  <b><%=h Machine.human_attribute_name(:number_of_packages) %>:</b>
  <%=h @machine.number_of_packages %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:productive_days) %>:</b>
  <%=h @machine.productive_days %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:avaiable_seconds_per_day) %>:</b>
  <%=h @machine.avaiable_seconds_per_day.seconds_to_short_words %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:daily_number_of_packages_average) %>:</b>
  <%=h @machine.daily_number_of_packages_average %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:total_session_time) %>:</b>
  <%=h @machine.total_session_time.seconds_to_short_words %>
</p>

<p>
  <b><%= t('view.time_averages') %></b>
<br>
  <%=h Machine.human_attribute_name(:daily_session_time_average) %>:
  <%=h @machine.daily_session_time_average.seconds_to_short_words %>
<br>
  <%=h Machine.human_attribute_name(:session_time_average) %>:
  <%=h @machine.session_time_average.seconds_to_short_words %>
<br>
  <%=h Machine.human_attribute_name(:daily_productive_time_average) %>:
  <%=h @machine.daily_productive_time_average.seconds_to_short_words %>
</p>

<p>
  <b><%= t('view.percents') %></b>
<br>
  <%=h Machine.human_attribute_name(:utilization_percent) %>:
  <%=h @machine.utilization_percent %>
<br>
  <%=h Machine.human_attribute_name(:eficiency_percent) %>:
  <%=h @machine.eficiency_percent %>
<br>
  <%=h Machine.human_attribute_name(:productivity_percent) %>:
  <%=h @machine.productivity_percent %>
</p>

<p>
  <%= link_to t('.sessions'), machine_sessions_path(@machine) %>
</p>

<%= link_to t('machines.index.all'), machines_path %>

