
<p>
  <% form_tag("#{@machine.id}", :method => 'get', :class => 'machine_sessions_date') do %>
    <%= link_to 'Histórico', @machine %> |
    <%= select_date() %>
    <input type="submit" value="<%= t('select') %>" />
  <% end %>
</p>

<hr>

<%= link_to t('edit'), edit_machine_path(@machine) %> |
<%= link_to t('delete'), @machine, :confirm => t('confirm'), :method => :delete %>

<p>
  <b><%=h Machine.human_attribute_name(:code) %>:</b>
  <%=h @clone_machine.code %>
  <br />
  <b><%=h Machine.human_attribute_name(:number_of_heads) %>:</b>
  <%=h @clone_machine.number_of_heads %>
  <br />
  <b><%=h Machine.human_attribute_name(:standard_number_of_packages_per_second) %>:</b>
  <%=h @clone_machine.standard_number_of_packages_per_second %>
</p>

<p>
  <b><%= t('view.derived_attributes') %></b>
  <br>
  <%=h Machine.human_attribute_name(:number_of_packages) %>:
  <%=h @clone_machine.number_of_packages %>
  <br>
  <%=h Machine.human_attribute_name(:productive_days) %>:
  <%=h @clone_machine.productive_days %>
  <br>
  <%=h Machine.human_attribute_name(:avaiable_seconds_per_day) %>:
  <%=h @clone_machine.avaiable_seconds_per_day.seconds_to_short_words %>
  <br>
  <%=h Machine.human_attribute_name(:daily_number_of_packages_average) %>:
  <%=h @clone_machine.daily_number_of_packages_average %>
  <br>
  <%=h Machine.human_attribute_name(:total_session_time) %>:
  <%=h @clone_machine.total_session_time.seconds_to_short_words %>
</p>

<p>
  <b><%= t('view.time_averages') %></b>
<br>
  <%=h Machine.human_attribute_name(:daily_session_time_average) %>:
  <%=h @clone_machine.daily_session_time_average.seconds_to_short_words %>
<br>
  <%=h Machine.human_attribute_name(:session_time_average) %>:
  <%=h @clone_machine.session_time_average.seconds_to_short_words %>
<br>
  <%=h Machine.human_attribute_name(:daily_productive_time_average) %>:
  <%=h @clone_machine.daily_productive_time_average.seconds_to_short_words %>
</p>

<p>
  <b><%= t('view.percents') %></b>
<br>
  <%=h Machine.human_attribute_name(:utilization_percent) %>:
  <%=h @clone_machine.utilization_percent %>
<br>
  <%=h Machine.human_attribute_name(:eficiency_percent) %>:
  <%=h @clone_machine.eficiency_percent %>
<br>
  <%=h Machine.human_attribute_name(:productivity_percent) %>:
  <%=h @clone_machine.productivity_percent %>
</p>

<p>
  <%= link_to t('.sessions'), machine_sessions_path(@machine) %>
</p>

<%= link_to t('machines.index.all'), machines_path %>


