<%= link_to t('edit'), edit_machine_path(@machine) %> |
<%= link_to t('delete'), @machine, :confirm => t('confirm'), :method => :delete %>

<p>
  <b><%=h Machine.human_attribute_name(:code) %>:</b>
  <%=h @machine.code %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:totalHeaders) %>:</b>
  <%=h @machine.totalHeaders %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:standard_speed) %>:</b>
  <%=h @machine.standard_speed %> unidades por segundo
</p>

<p>
  <b><%=h Machine.human_attribute_name(:production_amount) %>:</b>
  <%=h @machine.production_amount %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:productive_days) %>:</b>
  <%=h @machine.productive_days %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:availableTime) %>:</b>
  <%=h @machine.availableTime.seconds_to_short_words %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:total_session_time) %>:</b>
  <%=h @machine.total_session_time.seconds_to_short_words %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:session_time_average) %>:</b>
  <%=h @machine.session_time_average.seconds_to_short_words %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:daily_session_time_average) %>:</b>
  <%=h @machine.daily_session_time_average.seconds_to_short_words %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:utilization_percent) %>:</b>
  <%=h @machine.utilization_percent %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:daily_production_average) %>:</b>
  <%=h @machine.daily_production_average %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:daily_productive_time_average) %>:</b>
  <%=h @machine.daily_productive_time_average.seconds_to_short_words %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:eficiency_percent) %>:</b>
  <%=h @machine.eficiency_percent %>
</p>

<p>
  <b><%=h Machine.human_attribute_name(:productivity_percent) %>:</b>
  <%=h @machine.productivity_percent %>
</p>

<p>
  <%= link_to t('.sessions'), machine_sessions_path(@machine) %>
</p>

<%= link_to t('machines.index.all'), machines_path %>

