
<table>
  <tr>
    <th><%=h Product.human_attribute_name(:name) %></th>
    <th><%=h Product.human_attribute_name(:board_type) %></th>
    <th><%=h Product.human_attribute_name(:number_of_holes_per_board) %></th>
    <th><%=h Product.human_attribute_name(:number_of_boards_per_package) %></th>
    <th><%=h Product.human_attribute_name(:number_of_packages) %></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%=h product.name %></td>
    <td><%=h product.board_type %></td>
    <td><%=h product.number_of_holes_per_board %></td>
    <td><%=h product.number_of_boards_per_package %></td>
    <td><%=h product.number_of_packages %></td>
    <td><%= link_to t('show'), product %></td>
    <td><%= link_to t('edit'), edit_product_path(product) %></td>
    <td><%= link_to t('delete'), product, :confirm => t('confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

