<h1>Editing product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :board_type %><br />
    <%= f.text_field :board_type %>
  </p>
  <p>
    <%= f.label :number_of_holes_per_board %><br />
    <%= f.text_field :number_of_holes_per_board %>
  </p>
  <p>
    <%= f.label :number_of_boards_per_package %><br />
    <%= f.text_field :number_of_boards_per_package %>
  </p>
  <p>
    <%= f.label :number_of_packages %><br />
    <%= f.text_field :number_of_packages %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>