<%= link_to t('edit'), edit_product_path(@product) %> |
<%= link_to t('delete'), @product, :confirm => t('confirm'), :method => :delete %>

<p>
  <b><%=h Product.human_attribute_name(:name) %>:</b>
  <%=h @product.name %>
</p>

<p>
  <b><%=h Product.human_attribute_name(:board_type) %>:</b>
  <%=h @product.board_type %>
</p>

<p>
  <b><%=h Product.human_attribute_name(:number_of_holes_per_board) %>:</b>
  <%=h @product.number_of_holes_per_board %>
</p>

<p>
  <b><%=h Product.human_attribute_name(:number_of_boards_per_package) %>:</b>
  <%=h @product.number_of_boards_per_package %>
</p>

<p>
  <b><%=h Product.human_attribute_name(:number_of_packages) %>:</b>
  <%=h @product.number_of_packages %>
</p>


<p>
  <%= link_to t('.sessions'), product_sessions_path(@product) %>
</p>

<%= link_to t('products.index.all'), products_path %>
